/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Header */
/* .header {
    background-color: #777777;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;
} */


/* general buttons */
.btn {
    background-color: #d9534f;
    border: none;
    color: white;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.back-button {
    width: 150px;
}

.small-button {
    width: 80px;
}